<div>
    <h1 mat-dialog-title>Crea Miglioramento</h1>
    <div mat-dialog-content>
        <form (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="nome" name="nome" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Costo</mat-label>
                <input matInput type="number" [(ngModel)]="crediti" name="crediti" min="0" required>
            </mat-form-field>
            <button mat-button type="submit">Invia</button>
        </form>
    </div>
</div>