<div>
    <h3>Skin page!</h3>
    <div>
        <button (click)="possedute()">Possedute</button>
        <button (click)="nonPossedute()">NonPossedute</button>
    </div>
    <div>
        {{ text }}
    </div>
    <div>
        <ul>
            <li *ngFor="let skin of skins">
                <h2>{{ skin.nome }}</h2>
                <p><strong>Crediti:</strong> {{ skin.crediti }}</p>
                <button *ngIf="nonPosseduteV" (click)="acquire(skin.nome)">ACQUISTA</button>
            </li>
          </ul>
    </div>
</div>
