<div>
    <h3>Miglioramenti page!</h3>
    <div class="search-container">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Cerca..." (keydown)="onEnter($event)" class="search-input"/>
        <button class="search-button" (click)="cerca()">Cerca</button>
    </div>
    <div>
        {{ text }}
    </div>
    <div>
        <ul>
            <li *ngFor="let miglioramento of miglioramenti">
                <h2>{{ miglioramento.nome }}</h2>
                <p><strong>Descrizione:</strong> {{ miglioramento.descrizione }}</p>
                <p><strong>Crediti:</strong> {{ miglioramento.crediti }}</p>
                <p><strong>Quantità Posseduta:</strong> {{ miglioramento.quantitaPosseduta }}</p>
                <p><strong>Quantità Massima:</strong> {{ miglioramento.quantitaMassima }}</p>
                <p><strong>Tipologia:</strong> {{ miglioramento.tipologia }}</p>
                <button (click)="acquire(miglioramento.nome)">ACQUISTA</button>
            </li>
        </ul>
    </div>
</div>
