<div>
  <h2>Fullstack OAuth2 Keycloak</h2>
</div>
<div>
  <div>
    <button (click)="getHelloText()">GET HELLO TEXT</button>
  </div>
  <div>
    <button (click)="logout()">LOGOUT</button>
  </div>
</div>
<div>
  {{ helloText }}
</div>

<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">User</a></li>
    <li><a routerLink="/miglioramenti" routerLinkActive="active" ariaCurrentWhenActive="page">Miglioramenti</a></li>
    <li><a routerLink="/skin" routerLinkActive="active" ariaCurrentWhenActive="page">Skin</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>