<div>
  <h3>Hello, {{userName}}, welcome to this Giochino!</h3>
</div>
<div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <div>
      <button routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</button>
    </div>
    <div>
      <button routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">User</button>
    </div>
    <div>
      <button routerLink="/miglioramenti" routerLinkActive="active" ariaCurrentWhenActive="page">Miglioramenti</button>
    </div>
    <div>
      <button routerLink="/skin" routerLinkActive="active" ariaCurrentWhenActive="page">Skin</button>
    </div>
    <div>
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>