<div>
  <h1>Progetto Giochino</h1>
</div>
<div>
  <h3>Hello, {{userName}}, welcome to this Giochino!</h3>
</div>
<div>
  <button (click)="logout()">LOGOUT</button>
</div>

<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">User</a></li>
    <li><a routerLink="/miglioramenti" routerLinkActive="active" ariaCurrentWhenActive="page">Miglioramenti</a></li>
    <li><a routerLink="/skin" routerLinkActive="active" ariaCurrentWhenActive="page">Skin</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>